/* css styles */

/* Logo sizing */
.navbar-brand img {
  max-height: 38px;
  margin-right: 5.75rem;
  width: auto;
}

.navbar-brand span,
.navbar-brand .navbar-title {
  font-size: 1.25rem;
  color: white !important;
  font-weight: 600;
}


/* Author name */
.quarto-title-meta-contents {
  font-size: 1.25rem !important;
}

/* Author title (e.g., Instructors) */
.quarto-title-meta-heading {
  font-size: 1.5rem !important;
}